@import "tailwindcss";

@config "./tailwind.config.ts";

@theme {
    --color-text-menu-hover: #00E9FF;
    --color-bg-menu: #0D0D0D;
    --color-bg-success: #D0F9D9;
    --color-bg-warn: #FFEDBD;
    --color-bg-error: #FFC3C7;
    --color-primary: #FAFAFA;
    --color-bg-card: #F4F4F4;
    --color-bg-card-alt: #E0E0E0;
    --color-text-primary: #161616;
    --color-text-secondary: #6F6F6F;
    --color-text-success: #20BA42;
    --color-text-success-dark: #034211;
    --color-text-warn: #EBB018;
    --color-text-error: #420000;
    --color-link-primary: #4B006E;
    --color-border-primary: #525252;
    --spacing-sidebar: calc(var(--spacing) * 88);
    --spacing-main-content: calc(var(--spacing) * 275);
    --spacing-main-content-only: calc(var(--spacing) * 367);
    --color-graph-primary: #7D4895;
}
* {
    margin: 0;
    box-sizing: border-box;
}

@layer components {
    .menuItem {
        display:flex;
        border-top:8px solid var(--color-bg-menu);
        transition: all 0.25s ease;
        &:is(:hover, :focus-within) {
            @media (hover: hover) {
                color: var(--color-text-menu-hover);
                border-top: 8px solid var(--color-text-menu-hover);
            }
        }
        &.active {
            color: var(--color-text-menu-hover);
            border-top: 8px solid var(--color-text-menu-hover);
        }
    }
    .commentsButton {
        border-radius: 8px;
        border: 1px solid var(--color-border-primary);
        font-size: 16px;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        background: none;
        cursor: pointer;
        transition: opacity 0.25s ease;
        &:hover {
            opacity: 0.50;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }
    .commentLink {
        color: var(--color-link-primary);
        font-weight: 400;
        text-decoration: underline;
        text-underline-position: from-font;
        transition: 0.25s ease;
        &:hover {
            /* Applies 50% transparency over the current color */
            color: color-mix(in oklab, var(--color-link-primary) 50%, transparent);
        }
    }
    .commentsDashboardSummaryItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: calc(var(--spacing) * 2);
        padding: 16px;
    }
    /* Text Theme Variables */
    .textTitleItemXlg {
        font-family: Inter;
        font-size: 56px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.32px;
    }
    .textTitleItemLg {
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.4px;
    }
    .textTitleItemMd {
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.32px;
    }
    .textTitleItemSm {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.32px;
    }
    .textTitleItemXs {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: -0.28px;
    }
    .textTitleItemXXs {
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: -0.24px;
    }
    .textLabelMenuItem {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
    }
}