.pageLayout {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}
.pageAside {
    width: 355px;
    border-right: 1px solid #00000039;
    padding: 8px 16px;
}
.pageContent {
    width: 1100px;
    padding: 8px 16px;    
}