button {
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #525252;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    background: none;
    cursor: pointer;
}
