.commentContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background: #f4f4f4;
    color: #161616;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
}

.commentTop {
    display: flex;
    justify-content: space-between;
}

.commentTop > div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
}

.commentTop > div:last-child {
    display: flex;
    align-items: center;
    gap: 16px;
}

.commentTop > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    padding: 4px 8px;
    min-width: 12%;
    text-transform: uppercase;
    transition: background-color 0.25s ease;
    font-weight: 500;

    &:hover {
        background-color: #E0E0E0;
    }
}

.commentTop > button > svg {
    width: 18px;
    height: 18px;
}

.commentDate {
    color: #525252;
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
}

.commentActions {
    display: flex;
    gap: 13px;
}

.commentTitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.commentContent {
    font-size: 15px;
    font-weight: 400;
}

.linksContainer {
    display: flex;
    gap: 16px;
}

.linksContainer > span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.commentFlag {
    display: flex;
    align-items: center;
    gap: 8px;
}

.commentFlagLabel {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
}

.commentFlagUser {
    color: #525252;
    font-weight: 400;
    text-transform: capitalize;
}

.commentReply {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #525252;
    font-size: 13px;
    margin-left: 16px;
    line-height: 125%;
}

.commentReplyLabel {
    display: flex;
    gap: 2px;
}

.commentReplyUser {
    color: #161616;
    font-weight: 700;
}

.commentReviewedBy {
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 125%;
}

.commentReviewedByUser {
    color: #525252;
    font-weight: 400;
}
