.filterContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filterTitle {
    color: #161616;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.filterOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filterButton {
    color: #525252;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
    border: 1px solid #c6c6c6;
    border-radius: 40px;
    padding: 4px 12px;
}

.filterButton.active {
    color: #ffffff;
    background-color: #161616;
}
