.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 12px 16px;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f4f4f4;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.input {
    display: flex;
    align-items: center;
    color: #161616;
    background-color: #f4f4f4;
    outline: none;
}

input::placeholder {
    color: #525252;
}

.searchContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
