table {
    color: #161616;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

td {
    font-weight: 400;
    padding: 4px 8px;
    height: 40px;
    gap: 4px;
}

th {
    text-align: left;
    padding-left: 8px;
}

tbody > tr {
    background: #f4f4f4;
}

tr td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

tr td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
